.feynman__title {
    margin: 0 auto;
    padding-top: 0;
    width: 775px;
    position: relative;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    z-index: 2;
    justify-content: center;
    text-align: center;
    align-content: flex-start;
  }
