.feynman {
    background-color: #f2f2f2;
    margin: 0;
    min-height: 790px;
    text-align: center;
    padding-top: 0;
    background-image: url(../images/feynman.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom left;
    position: relative;
  }