


.table {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 0px 20px;
  }
