@import url(__text/table__text_last-child.css);
@import url(__cell/_theme/table__cell_theme_dark.css);
@import url(__heading/_theme/table__heading_theme_dark.css);
@import url(__text/table__text.css);
@import url(__text_last-child/table__text_last-child.css);
@import url(_theme/table_theme_dark.css);

.table {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 0px 20px;
  }
