.kaufman__triangle {
    margin: 0;
    height: 636px;
    width: 660px;
    position: absolute;
    background-image: url(/images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    right: -124px;
    top:0px;
    z-index: 1;
  }
