@import url(__author/footer__author_last-child.css);
@import url(__author/footer__author.css);

@import url(__column/_content/footer__column_content_about.css);
@import url(__column/_content/footer__column_content_copyright.css);
@import url(__column/_content/footer__column_content_social.css);
@import url(__column/footer__column.css);
@import url(__column-heading/footer__column_heading.css);
@import url(__column-links/footer__column-links.css);
@import url(__columns/footer__columns.css);
@import url(__list/footer__list.css);
@import url(__social-icon/footer__social-icon.css);

.footer {
    margin: 0 auto;
    display: flex;
    min-height: 350px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    padding: 60px 0 40px;
    justify-content: center;
    color: #f2f2f2;
  }
