
.footer {
    margin: 0 auto;
    display: flex;
    min-height: 350px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    padding: 60px 0 40px;
    justify-content: center;
    color: #f2f2f2;
  }
