.footer__column-links {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0 0 16px 0;
  transition: 0.5s;
}
.footer__column-links:hover {
  opacity: 50%;
}
