.section-subtitle_theme_dark {
    position: relative;
    width: 60%;
    padding-bottom: 0px;
    margin: auto;
    color: #f2f2f2;
    text-align: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
  }