.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* parameters for the header section */
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}
.header__h1 {
  /*top: 50%;
  bottom: 50%;*/
  left: 64px;
  width: 730px;
  /*vertical-align: middle;*/
  position: absolute;
  font-size: 102px;
  line-height:  96px;
  font-weight: bold;
  z-index: 1;
  align-self: center;

}
.header__h2 {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 1;
}
.link {
  text-decoration: none;
  z-index: 1;
}
.flex-row {
  display: flex;

}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background: #2f80ed;
  top: 64px;
  right: 0px;
  z-index: -1;

}
.main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;

}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

div {
  border-color: red;
  border-width: 1px;

}
