.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 100px 0;
  /* parameters for the header section */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}
.header__title {
  /*top: 50%;
  bottom: 50%;*/
  left: 64px;
  width: 730px;
  /*vertical-align: middle;*/
  position: absolute;
  font-size: 102px;
  line-height:  96px;
  font-weight: bold;
  z-index: 1;
  align-self: center;

}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 1;
}
.link {
  text-decoration: none;
  z-index: 1;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background: #2f80ed;
  top: 64px;
  right: 0px;
  z-index: -1;
}
.main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;

}


.content {
  width: 100vw;
  display: flex;
  margin: 0;
  border-width:1px;
  padding-top: 100px;
  z-index: 1;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 100px 0;
}
.two-columns__brief {
  width: 175px;
}

.two-columns__h2 {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-style: normal;

  }

.two-columns__main-text {
  min-width: 784px;
  width: 80%;

}
.digits {
  padding: 40px 0;
  text-align: center;

}
.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-style: bold;
}
.section-subtitle {
  line-height: 34px;
    font-size:24px;
    font-style: normal;
}
.table {
  text-align:center;
  list-style-type: none;
  margin: auto;
  padding:60px 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  padding: 80px 0 0;

}
.table__cell {
  text-align: left;
 width: 250px;
}
.table__heading {
  color: #000;
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;
}
.table__text {
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;
}
.feynman__container {
  margin: 0;
  min-height: 790px;
  text-align: center;
  padding-top: 0;
  background-image: url(file:///C:/Users/deird/Projects/web_project_1/images/feynman.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom left;
  position: relative;
}

.feynman__title {
  width: 775px;
  position: relative;
  font-size: 120px;
  line-height:  1.15;
  font-weight: bold;
  z-index: 1;
  justify-content: center;
  margin-left:auto;
  margin-right: auto;
  text-align: center;

  align-content: flex-start;
}
.feynman__subtitle {
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  justify-content: center;
  width: 775px;
  text-align: match-parent;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  padding-top: 70px;
}
.feynman__link {
  position: absolute;
  right: 48px;
  /*align-content: center;
  justify-content: center;
  align-items: flex-end;*/
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  z-index: 4;
  font-weight: normal;
  height: 50%;
}

.feynman_image {
  width:867px;
  height:637px;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top:153px;
  z-index:-1;
}
.kaufman {
  background-color: #1f1f1f;
  color: #f2f2f2;
  overflow: hidden;
}
.kaufman__image_triangle {
  position: absolute;
  right: -210px;
height: 877px;
z-index: 0;
}
.section-title_theme_dark {
  padding: 90px 0 20px 0;
  margin: auto;
  color: #f2f2f2;
  line-height: 1.15;
    font-size: 60px;
    font-style: bold;
    text-align: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    z-index: 2;
}

.section-subtitle_theme_dark {
  margin: auto;
  color: #f2f2f2;
  line-height: 34px;
  font-size:24px;
  font-style: normal;
  text-align: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}

.table_theme_dark {
  padding: 80px 0 90px 0;
  margin: auto;
  color: white;
    text-align: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
}

.table__cell_theme_dark {
  color: white;
  text-align: left;
 width: 200px;
 padding-top: 80px;
 z-index: 3;

}
.table__heading_theme_dark{
  color: #f2f2f2;
  z-index: 3;
}
.table__heading {
  color: #000000;/* change this to dark gray*/
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;

}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;

}
/*.feynman__circle-pic {
  height: 568px;
  width: 568px;
  border-radius: 50%;
  position: absolute;
  background: #2f80ed;
  top: 64px;
  right: 0px;
  z-index: -1;

}*/
/*
.kaufman{
  margin:0;
  background-color: #1f1f1f;

  max-width: 100%;
  overflow: hidden;
}
.kaufman__image_triangle {
  position: absolute;
  right: -210px;

  background-image: url(../images/kaufman-triangle.svg);
height: 877px;
}
.kaufman__container {
  z-index: 1;
}
.kaufman_flex {
  margin: 0;
  padding: 40px;
  display: flex;
  color: white;
  text-align:center;
  flex-direction: column;
  align-items: center;
  z-index: 1;

}
.kaufman__title_theme_dark {
  padding-top: 90px;
  margin: auto;
  color: white;
  line-height: 1.15;
    font-size: 60px;
    font-style: bold;
    text-align: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    z-index: 2;
}
.kaufman__subtitle_theme_dark {
  padding-top: 20px;
  margin: auto;
  color: white;
  line-height: 34px;
  font-size:24px;
  font-style: normal;
  text-align: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}
.table-container_theme_dark {
  margin: 0;
  color: white;



}
.table_theme_dark {
  color: white;

  list-style-type: none;
  margin: auto;
  padding:60px 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;




}
.cell_theme_dark {
  color: white;
  text-align: left;
 width: 200px;
 padding-top: 80px;


}
.heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;

}
.text_theme_dark {color: white;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;

}

/*.footer {
  display: flex;
  flex-direction: row;
  flex-basis: 711px;
  color: white;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;

}
.footer__columns {
  justify-content: center;
}
.footer__columns-content-copyright {
  flex-grow: 4;

}
.logo-footer-theme-dark {
  width: 183px;
  height: 35px;
}
.footer__author {
}
.footer__columns-content-info {
  flex-grow: 1;

}
.footer__column-heading {
}
.footer__column-links {
}
.footer__columns-content-social {
  flex-grow: 4;
}
.footer__social-icon {
}*/
.footer {
  margin: 0 auto;
  display:flex;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px;
  justify-content: center;
  color: #f2f2f2;

}
.footer__column {
  margin:0;

}
.footer__columns {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;

}
.footer__column-content-copyright {
  display:flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  /*flex-grow: 3;*/

}
.logo {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-items: flex-end;
}
.footer__column-content-info {
  list-style: none;
  margin: 0;
  color: #f2f2f2;
}
.logo_place-footer {
  width: 183px;
  height: 35px;

}
.footer__column-heading {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.footer__column-content-social {
  margin: 0 auto;
  align-content: flex-start;
  list-style: none;
  text-align: left;
}
.footer__column-links {
  color: #f2f2f2;
  text-decoration: none;
}
.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__social-icon {
  list-style: none;
  font-size: 16px;
}

p {
  line-height: 34px;
  font-size: 25px;
  margin: 0 0 30px 0;
  }

div {
  border-color: red;
  border-width: 1px;

}
a {
  color: #2f80ed;

}


