.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 100px 0;
  /* parameters for the header section */
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}
.header__h1 {
  /*top: 50%;
  bottom: 50%;*/
  left: 64px;
  width: 730px;
  /*vertical-align: middle;*/
  position: absolute;
  font-size: 102px;
  line-height:  96px;
  font-weight: bold;
  z-index: 1;
  align-self: center;

}
.header__h2 {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 1;
}
.link {
  text-decoration: none;
  z-index: 1;
}
.flex-row {
  display: flex;

}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background: #2f80ed;
  top: 64px;
  right: 0px;
  z-index: -1;

}
.main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;

}

.content {
  display: flex;
  border-width:1px;
  padding-top: 100px;
  z-index: 1;


}
.two-columns {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 100px 0;
}
.two-columns__brief {
  width: 175px;
}

.two-columns__h2 {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-style: normal;

  }

.two-columns__main-text {
  min-width: 784px;
  width: 80%;

}
.digits {
  padding: 40px 0;


}
.digits_flex {
  text-align:center;
}

  .digits__title {
    line-height: 1.15;
    font-size: 60px;
    font-style: bold;
  }

  .digits__subtitle {
    line-height: 34px;
    font-size:24px;
    font-style: normal;
  }
.table {

  list-style-type: none;
  margin: auto;
  padding:60px 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  padding: 80px 0 0;
}
.cell {
 text-align: left;
 width: 250px;

}
.heading {
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;


}
.text {

  line-height: 1.2;
  font-size: 18px;
  font-size: normal;
}

p {
  line-height: 34px;
  font-size: 25px;
  margin: 0 0 30px 0;
  }

div {
  border-color: red;
  border-width: 1px;

}
